*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilory;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}
#main{

}
#page1{
height: 100vh;
width: 100%;
background-color: #111;
}
#page1 h1{
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 900;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 9vw;
    justify-content: center;
}
#page2{
height: 100vh;
width: 100%;
background-color: #111;
}