*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilory;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}
nav{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
}
.nav-part2{
    display: flex;
    gap: 2vw;
}
.nav-part2 h4{
    font-size: 0.76vw;
    text-transform: uppercase;
    font-weight: 600;
}
nav:hover #nav-bottom{
height: 100%;
bottom: -100%;
}
#nav-bottom{
    height: 0%;
    position: absolute;
    width: 79%;
    bottom: 0%;
    transition: all ease 0.65s;
    display: flex;
    align-self: flex-start;
    justify-content:center ;
     border-bottom: 2px solid #dadada;
    padding: 2vw 15vw;
    padding-left: 18.2vw ;
padding-top: 6vw;
}
.bottom-div{
    margin-top: 2vw;
    position: absolute;
    top: 0;
}
.bottom-div h5{
 margin-bottom: 0.4vw; 
 overflow: hidden;
}
.bottom-div h5 span{
    font-size: 0.75vw;
    font-weight: 500;
display: inline-block;

}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#page1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
}
#page1 h1 svg{
    height: 8vw;
    width: 8vw;
    background-color: #0ba34E;
    border-radius: 50%;

}
#page1-something{
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1-something h4{
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px solid #a5a5a5;
}
#page1-something h4:nth-last-child(2){
border: none;
padding: 2px;
}

#page1 p{
    text-align: center;
    margin-top: 3vh;
font-weight: 400;
}
#page2{
height: 100vh;
width: 100%;
background-color: #111;
}