* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}
nav {
  position: fixed;
  /* background-color: rgb(0, 255, 68); */
  display: flex;
  align-items: flex-start;
  height: 12vh;
  width: 100%;
  padding: 1.7vw 10.4vw;
  justify-content: space-between;
  background-color: #111;
  z-index: 10;
}

nav h1 {
  font-size: 1.6vw;
}

.nav-part2 {
  display: flex;
  gap: 1.6vw;
  padding: 1.4vh;
  align-items: flex-start;
  position: relative;
  z-index: 10;
}

.nav-part2 h4 {
  font-size: 0.85vw;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2vw;
  letter-spacing: -0.5px;
}

.nav-part2 h5 {
  margin-bottom: 0.6vw;
  overflow: hidden;
  display: none;
}

.nav-part2 h5 span {
  font-size: 0.77vw;
  font-weight: 400;
  transform: translateY(25px);
  display: inline-block;
}

nav button {
  background-color: #0ba34e;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  font-size: 0.8vw;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 50px;
  border: none;
}

nav button svg {
  height: 0.8vw;
  margin-left: 1.6vw;
}

#nav-bottom {
  width: 79%;
  height: 0vh;
  position: absolute;
  top: 100%;
  background-color: #111;
  z-index: 9;
  border-bottom: 1px solid #fff;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#page1 h1 {
  font-size: 8.5vw;
  line-height: 8.5vw;
  text-transform: uppercase;
  font-weight: 900;
}

#page1 h1 svg {
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  background-color: #0da34e;
}

#page1 p {
  text-align: center;
  font-weight: 400;
  margin-top: 3vh;
}

#page1-something {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-top: 1px;
}

#page1-something h4 {
  font-weight: 400;
  font-size: 1vw;
  text-transform: lowercase;
  padding: 5px 12px;
  border: 1px solid #808080;
  border-radius: 50px;
}

#moving-div {
  margin-top: 10vh;
  position: absolute;
  bottom: 3%;
  white-space: nowrap;
  padding: 1.2vw;
  overflow: hidden;
  width: 44%;
}
#moving-div .move {
  display: inline-block;
  animation-name: moving;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#moving-div .move img {
  height: 1.2vw;
  margin: 0 1.2vw;
}

@keyframes moving {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#blur-left {
  height: 100%;
  width: 20%;
  position: absolute;
  background: linear-gradient(#1111, transparent);
  top: 0;
  left: 0;
  z-index: 4;
}
#blur-right {
  height: 100%;
  width: 20%;
  background: linear-gradient(transparent, #1111);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
}

#page2 {
  height: 100vh;
  width: 100%;
  background: #111111;
  padding: 0vw 10vw;
  padding-bottom: 6vw;
  display: flex;
  align-items: center;
  border-top: 1px solid #333;
  justify-content: space-between;
}

#page2-left {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 3vw 0;
  justify-content: space-between;
}

#page2-left p {
  font-size: 1vw;
}

#page2-left h5 {
  width: 75%;
  font-weight: 400;
  font-size: 1.2vw;
}
#page2-right {
  height: 100%;
  width: 50%;
}
.right-elem {
  position: relative;
  padding-top: 2vw;
  padding-bottom: 4.4vw;
  border-bottom: 1px solid #333;
}

.right-elem:nth-child(4) {
  border-bottom: none;
}

.right-elem h2 {
  font-size: 1.4vw;
  font-weight: 600;
}
.right-elem img {
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0;
  scale: 0;
  position: absolute;
}

#page3 {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url(https://assets-global.website-files.com/64a2ab71942e1d57feb6fe39/65f306410543a22950d85603_reel-cover.webp);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
#page3-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1vw;
}

#page3-center:hover h5 {
  opacity: 1;
  transform: translateY(0);
}

#page3-center .icon {
  padding: 4vw;
  border-radius: 50%;
  background-color: #fff;
}
#page3-center .icon i {
  color: black;
  font-size: 3vw;
}
#page3-center h5 {
  font-size: 1vw;
  color: #000;
  margin-top: 1vw;
  background-color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: 700;
  text-transform: uppercase;
  transform: translateY(10%);
  opacity: 0;
  transition: all ease 0.5s;
}

#page3 video {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  transform: scaleX(0.7) scaleY(0);
  opacity: 0;
  border-radius: 30px;
  z-index: 999999;
}

#page4 {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  padding: 3vw 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page4-left {
  height: 100%;
  width: 40%;
  padding: 3vw 0;
}

#page4-left h3 {
  font-size: 3vw;
  color: #000;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 3vw;
}

#page4-right {
  height: 100%;
  width: 52%;
  padding: 3vw 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#page4-right h5 {
  opacity: 0.4;
  font-size: 1.1vw;
  margin-bottom: 1.6vw;
  text-transform: uppercase;
  color: black;
  letter-spacing: -1.2px;
}
#page4-right p {
  font-size: 1.6vw;
  margin-bottom: 6vw;
  font-weight: 600;
  color: rgb(79, 79, 79);
  letter-spacing: -1px;
}

#page5 {
  margin-top: 8vw;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
}

.section {
  width: 100%;
  height: 100vh;
  padding: 10vh 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.sec-left {
  height: 100%;
  width: 25%;
  padding-top: 3vh;
  border-top: 2px solid #000;
}

.sec-left h2 {
  font-size: 2vw;
  font-weight: 500;
  color: #000;
  margin-bottom: 10vh;
}
.sec-left span i {
  font-size: 1.4vw;
  color: #000;
}

.sec-left p {
  color: #000;
  font-size: 1.2vw;
  margin-top: 5vh;
  width: 90%;
}

.sec-right {
  height: 100%;
  width: 70%;
  position: relative;
}

.sec-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sec-right video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0;
  transition: all ease 0.2s;
}